<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/qianhui/Desktop/unchecked.mp3</key>
	<data>
	Ym9va/gCAAAAAAQQMAAAADQcUffd/F7A7GtYTiZGGyTGFTiaZ7g5gvO/C3lcRmF16AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHFpYW5odWkABwAAAAEB
	AABEZXNrdG9wAA0AAAABAQAAdW5jaGVja2VkLm1wMwAAABAAAAABBgAAEAAAACAAAAAw
	AAAAQAAAAAgAAAAEAwAAedEJAAAAAAAIAAAABAMAAA05DwAAAAAACAAAAAQDAAAmOQ8A
	AAAAAAgAAAAEAwAAsoBQAgAAAAAQAAAAAQYAAHAAAACAAAAAkAAAAKAAAAAIAAAAAAQA
	AEHB76fiMJd2GAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAIA
	AAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3No
	IEhECAAAAAQDAAAAUAZeOgAAAAgAAAAABAAAQcA1zTj0elMkAAAAAQEAADM3QjkzOUEz
	LUNBREUtNERCRC1BMDZCLTA2QUUxQUY3OEQxRRgAAAABAgAAgQAAAAEAAADvEwAAAQAA
	AAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAAAaAAAAAQEAAE5TVVJMRG9jdW1lbnRJ
	ZGVudGlmaWVyS2V5AAAEAAAAAwMAAMOPAgDYAAAA/v///wEAAAAAAAAAEQAAAAQQAABY
	AAAAAAAAAAUQAACwAAAAAAAAABAQAADYAAAAAAAAAEAQAADIAAAAAAAAAAIgAACkAQAA
	AAAAAAUgAAAUAQAAAAAAABAgAAAkAQAAAAAAABEgAABYAQAAAAAAABIgAAA4AQAAAAAA
	ABMgAABIAQAAAAAAACAgAACEAQAAAAAAADAgAACwAQAAAAAAAAHAAAD4AAAAAAAAABHA
	AAAgAAAAAAAAABLAAAAIAQAAAAAAABDQAAAEAAAAAAAAALgBAIDcAQAAAAAAAA==
	</data>
</dict>
</plist>
